textarea {
  width: 400px;
  height: 50px;
  clear: both;
}

form {
  overflow: auto;
  clear: both;
}

#Submit {
  width: 205px;
  height: 50px;
  float: left;
  clear: both;
  background-color: $colour-text;
  color: $colour-background;
  border: none;
  margin: 20px 0 0 0;
  cursor: pointer;
  cursor: hand;
}
