body {
  background-color: $colour-background;
}

#RightColumn {
  float: left;
  padding: 0 5% 0 5%;
  width: 40%;
}

#Title {
  padding: 20px 5% 10px 5%;
}

#LeftColumn {
  float: left;
  padding: 0 5% 0 5%;
  width: 40%;
}
