// Fonts
$font-text: Trebuchet MS1, Helvetica, sans-serif;

// Colours
$colour-background: #FFFFFF;
$colour-background-titlebox: #0099CC;
$colour-background-navigation: #2C2722;

$colour-button-navigation-hover: #3E3B39;
$colour-button-navigation-active: #373533;

$colour-text: #131313;
$colour-text-light: #7D7D7D;
$colour-text-lighter: $colour-background;

$colour-highlight-heading: $colour-background-titlebox;
