// Fonts
$font-text: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colours
$colour-background: #FFFFFF;
$colour-background-titlebox: #0099CC;
$colour-background-navigation: #2C2722;

$colour-text: #131313;
$colour-text-light: #7D7D7D;

$colour-highlight-heading: #0099CC;
